* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border-style: solid;
    border-width: 1px; */
    /* background-color: rgb(231, 231, 200); */
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

body {
    font-size: Helvetica Neue, Arial;
    font-size: 18px;
}

h1, h2 {
    color: #00960b;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.container {
    width: 1140px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 20px; */
    /* margin: top right bottom left  */
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    background-color: rgb(215, 215, 241);
    position: relative;
}

.other-posts{
    width: 25%;
    float: right;
    background-color: rgb(230, 247, 230);
}

.author-box{
    padding-top: 20px;
    border-top: 1px solid #808080;
    background-color: rgb(243, 222, 222);
}

.other {
    margin-bottom: 40px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;    
}

.date {
    position: absolute; 
    top: 10px;
    right: 30px; 
}