
.normalise {
    background-color: rgb(212, 211, 211);
}

.no-box-sizing-content-box {
    border: 10px solid black;
    background-color: rgb(100, 134, 209);
    box-sizing: content-box;
    margin-bottom:10px;
}

.no-box-sizing-border-box {
    border: 10px solid black;
    background-color: rgb(112, 81, 81);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.with-box-sizing-initial {
    border: 10px solid black;
    background-color: rgb(79, 109, 101);
    box-sizing: initial;
    margin-bottom: 10px;
}